COMPOSE_PROJECT_NAME=business_intelligence
TZ=America/Guatemala

SQLSERVER_PORT=1433
SQLSERVER_PID=Developer
SQLSERVER_SA_PASSWORD=1234ASD1.

GRAFANA_PORT=3000
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=Admin_2026_Grafana

GRAFANA_DS_NAME=AdventureWorksDW2022
GRAFANA_DS_HOST=sqlserver:1433
GRAFANA_DS_DB=AdventureWorksDW2022
GRAFANA_DS_USER=grafana_user
GRAFANA_DS_PASSWORD=Grafana_2026_Lectura

APP_PORT=8080